<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.suneel.musicapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:logo="@drawable/ic_spa_black_24dp"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity android:name=".Activities.MainActivity"></activity>
        <activity android:name=".Activities.Youtube" />
        <activity android:name=".Activities.SongPlay" />
        <activity android:name=".Activities.VoiceSearchClass" />
        <activity android:name=".Activities.PlalistItem" />
        <activity android:name=".Activities.splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".Activities.YoutubePlay"></activity>
        <activity android:name=".Activities.VideoPlay" />
        <activity android:name=".Activities.ArtistItem"></activity>
        <activity android:name=".Activities.AlbumItem" />
        <activity android:name=".Activities.GenresItem" />


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>

        <service android:name=".Services.MusicService" />

        <receiver android:name=".receiver.Getdata">
            <intent-filter>
                <action android:name="com.example.suneel.musicapp.Services.ACTION_PLAY"></action>
                <action android:name="com.example.suneel.musicapp.Services.ACTION_PAUSE"></action>
                <action android:name="com.example.suneel.musicapp.Services.ACTION_PREVIOUS"></action>
                <action android:name="com.example.suneel.musicapp.Services.ACTION_NEXT"></action>
                <action android:name="com.example.suneel.musicapp.Services.ACTION_CANCEL"></action>
                <action android:name="com.example.suneel.musicapp.Services.RECEIVER"></action>
            </intent-filter>
        </receiver>
        <service android:name=".Services.MusicService"></service>

        <activity android:name=".Activities.BaseActivity" />
    </application>

</manifest>